<% @poems.each do |poem| %>
  <% if current_user.email != 'jrorme1@sbcglobal.net' && poem.visible == true  %>
  <% else %>
    <div class="poems-display">
      <h1 class="poems-title">
        <strong><%= link_to poem.title, poem_path(poem) %></strong>
      </h1>
    </div><br />
  <% end %>
<% end %>
