<div class="bg-img-left"></div>
<div class="bg-img-right"></div>

<div class="content-poem">
  <div class="poem-header">
    <h2 class="r-poem-title"> Robin's Poems </h2>
    <div class="add-poem">
      <% if current_user.email === 'isorme1@gmail.com'|| current_user.email === 'jrorme1@sbcglobal.net' %>
        <%= link_to "Add Poem", new_poem_path, class: "btn-custom2" %>
      <% end %>
    </div>
  </div><br /><br />

<%= render 'poem' %> <br/>
</div>
