<div class="page-header">
  <h2 class="r-poem-title"> Robin's Poems </h2>
  <div class="add-poem">
    <% if current_user.email === 'isorme1@gmail.com'|| current_user.email === 'jrorme1@sbcglobal.net' %>
      <%= link_to "Add New Poem", new_poem_path, class: "btn-custom2" %>
    <% end %>
  </div>
</div><br />

<%= render 'poem' %> <br/>
