<div class="page-header r-songs">
  <h2 class="header-title-songs">Robin's Songs</h2>
  <% if current_user.email === 'isorme1@gmail.com' || current_user.email === 'jrorme1@sbcglobal.net' %>
    <div class="add-song">
      <%= link_to "Add New Song", new_audio_path, class: "btn-custom2" %>
    </div>
  <% end %> <br />
</div>

<%= render 'audio' %>
