<div class="jumbotron welcome">
  <h2><strong>Welcome to Robin's Artwork Site</strong></h2>
  <p>Click the artwork collection link above to view Robin's sculptures, photographs and paintings</p>
</div>
