<div class="jumbotron welcome-pg">
  <h1><strong>Welcome to Robin's Artwork Site</strong></h1>
  <div class="sub-text">
    <p><strong>Use the top menu navigation bar to look through Robin's Artwork, Poetry, and Song Collections</strong></p>
  </div>
  <div class="enjoy">
      <p><strong>Enjoy your stay!</strong></p>
  </div>
</div>
