<div class="jumbotron welcome">
  <h1><strong>Welcome to Robin's Artwork Site</strong></h1>
  <p><strong>Take a look through Robin's Artwork collection</strong></p>
  <p><strong>Enjoy your stay!</strong></p>
</div>
