<div class="jumbotron welcome-pg">
  <h1><strong>Welcome to Robin's Artwork Site</strong></h1>
  <p><strong>Take a look through Robin's Artwork, Poetry, and Song Collections</strong></p>
  <p><strong>Enjoy your stay!</strong></p>
</div>
