@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "bootswatch/cosmo/bootswatch";

html {
  min-height: 100%;
}

body.audiosindex, body.audiosnew, body.audiosedit {
  background-image: url('audio-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body.poemsindex, body.poemsnew, body.poemsedit, body.poemsshow {

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.n-links-a:hover {
   background-color: #4a6fa5 !important;
}

.n-links-p:hover {
   background-color: #4a6fa5 !important;
}

.n-links-s:hover {
   background-color: #4a6fa5 !important;
}

.arrow {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background: #4a6fa5;
  transform: translateY(-50%) rotate(45deg);
}

.info-box {
   min-width:280px;
   justify-content: center;
   align-items: center;
   line-height: 1.7;
   font-size: 18px;
   color: white;
   opacity: 1;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;

}
.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
 width:100px;
 height:100px;
 position: absolute;
 background:#4a6fa5;  /* #fff previously */
 border-radius: 30px;
 box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
 transition:all 0.3s, opacity 0.1s, transform 0.2s;
 transform-origin: 50% 0;
 display: flex;
 justify-content: center;
 opacity:0;
}

 .dropdownBackground.open {
  opacity: 1;
}

.info-box > img {

  margin: 2px;
  width: 50px;
  height: 50px;
}

.poetry {
  float: left;
  margin-right: 10px !important;
}
.guitar {
  float: left;
  width: 100px !important;
  height: 100px !important;
}
.page-nav {
  margin: 0;
  width: 100%;
  z-index: 1;
}

.upload-title {
  text-align: center;
}
.devise-forms {
  border-radius: 5px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 10px;
  h2 {
    margin-top: 0;
  }
}


.welcome-pg {
  margin-top: 12px;
  color: white;
  text-align: center;
  text-shadow: 1.5px 1.5px black;
  background-image:url('bg-img-r.jpg');
  box-shadow: 3px 3px 5px 6px #ccc;
  border-style: groove;
}

.sub-text {
  text-align: left;
}

.enjoy {
  text-align: center;
}

.navright {
  margin-right: 10px;
}

.gallery-select {
  margin-top: 12px;
  color: white;
  background-image:url('bg-img-r.jpg');
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em, 1.25em;

}
.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}
}

button {
  box-shadow: 0.5px 0.5px 2px 3px black;

}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
