// Place all the styles related to the audios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.r-songs {
  border-radius: 25px;
  box-shadow: 2px 2px 3px 4px grey;
  margin: 10px auto;
  background-color: black;
  opacity: 0.9;

}

.header-title-songs {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color:white;
}

.add-song {
  text-align: center;
}

.upload-song {
  text-align: center;
}
.songs-indiv {
  width: 400px;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  color:white;
  border: 2px solid black;
  border-radius: 25px;
  padding-left: 8px;
  padding-bottom: 25px;
  margin-bottom: 12px;
  box-shadow: 2px 2px 3px 4px grey;
  float: left;
  margin-right: 10px;
}
.audio-index {
  margin-top: 20px;
  background-color: black;
  opacity: 0.9;
  color:white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
}

.add-remove {
  margin-top: 20px;
}
