// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.semi-form {
  margin-top: 20px;
}

.poems-title {
  font-size: 20px;
  margin-top: 0px;
}

.poems-title:hover{
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.poems-display {
  text-align: center;

}

.r-poem-title {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  text-align: center;
}

.add-poem {
  margin-top: 20px;
  text-align: center;
}

.poems-show-page {
  text-align: center;
  margin-bottom: 25px;
}
