// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poem-header {
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 3px 4px grey;
  margin: 20px auto;
  background-color: tan;
  opacity: 0.9;
  font-weight: bold;

}
.poems-display {
  width: 325px;
  text-align: center;
  margin-top: 20px;
  background-color: tan;
  opacity: 0.9;
  color:black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 4px 4px 6px 7px grey;
  float:left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.r-poem-title {
  text-align: center;
  font-size: 40px;
  color:black;
  font-weight: bold;
}

.add-poem {
  margin-top: 20px;
  text-align: center;
}
