<div class="jumbotron gallery-select">
  <% if current_user.email === 'isorme1@gmail.com' || current_user.email === 'jrorme1@sbcglobal.net' %>
    <%= link_to "Add New Artwork", new_image_path, class: "btn-custom2" %>
  <% end %>
  <h1>Select A Gallery</h1>
  <button class="btn btn-info" onclick="displayHandler(this.innerHTML)">Sculptures</button>
  <button class="btn btn-success" onclick="displayHandler(this.innerHTML)">Photography</button>
  <button class="btn btn-warning" onclick="displayHandler(this.innerHTML)">Paintings/Drawings</button>
</div>

<h2 id="curr-gal" class="page-header">Select Gallery to View Artwork</h2>

<div class="loader hidden">
  <span class="load-icon">Loading Images...</span>
</div>

<div class="sculp-index hidden">
  <% @sculptures.each do |sculp| %>
    <%= link_to image_tag(sculp.image_url), image_path(sculp) %>
  <% end %>
</div>

<div class="photo-index hidden">
  <% @photography.each do |photo| %>
    <%= link_to image_tag(photo.image_url), image_path(photo) %>
  <% end %>
</div>

<div class="paint-index hidden">
  <% @paintings.each do |paint| %>
    <%= link_to image_tag(paint.image_url), image_path(paint) %>
  <% end %>
</div>
